.scroll-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 20px;
  transform: scale3d(0, 0, 0);
  transition: var(--transition-blocks);
  &.active {
    transform: scale3d(1, 1, 1);
  }
}
