*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  color: var(--clr-text-primary);
  font-size: var(--fz-primary);
  line-height: var(--line-height);
  cursor: url('../images/dist/icons/cursor.png'), auto;

  @include font('Rubik', 400);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.no-scroll {
  overflow: hidden;
}

section {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#f05454, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  border-radius: 10px;
}
