:root {
  --accent: #f05454;

  --clr-btn: #fce6e6;
  --clr-text-primary: #220b0b;
  --clr-hamburger: #220b0b;

  --line-height: 1.2;
  --fz-primary: 14px;
  --fz-header-primary: 36px;

  --transition: width 0.25s ease-in-out;
}
