.aside-links {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    @include font('Rubik', 700);
  }
  &__divider {
    width: 70px;
    height: 1px;
    margin: 0 15px;
    background-color: #000;
  }
  .socials__img {
    height: 20px;
  }
}
