.footer {
  padding-top: var(--section-padding);
  padding-bottom: 80px;
  &__inner {
    display: grid;
    grid-template-columns: 400px auto;
    column-gap: 70px;
    padding: 0 50px;
  }
  &__text {
    margin: 25px 0;
    @include font('Rubik', 700);
  }
  &__privacy {
    color: blue;
  }
  &__badge {
    margin-top: 4px;
  }
}

.socials {
  display: flex;
  &__item + &__item {
    margin-left: 20px;
  }
  &__img {
    height: 30px;
    &:hover {
      transform: scale(1.05);
    }
  }
}
