.sidenav {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 50;
  }
  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 345px;
    padding: 100px 0 50px 0;
    background-color: var(--accent);
    overflow-y: auto;
    z-index: 100;
    transform: translate3d(-100%, 0, 0);
    transition: var(--transition-sidenav);
  }
  .socials__img {
    height: 20px;
  }
  &.active &__overlay {
    display: block;
  }
  &.active &__inner {
    transform: translate3d(0, 0, 0);
  }
}

.close-sidenav {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 40px;
  color: var(--clr-times-sidenav);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__inner {
    flex-grow: 1;
    padding-left: 30px;
  }
  &__link {
    padding-bottom: 20px;
    transition: var(--transition-blocks);
    &:hover {
      transform: translateX(5px);
    }
  }
  &__item {
    font-size: 20px;
    color: var(--clr-text-sidenav);
    @include font('Rubik', 700);
  }
  .socials {
    justify-content: center;
  }
}
