.skills {
  padding-top: var(--section-padding);
  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 15px;
    margin-top: 60px;
  }
  &__item {
    padding: 30px 30px 25px 30px;
    border: 1px solid #000;
  }
  &__img-inner {
    min-height: 65px;
    margin-bottom: 20px;
  }
  &__technology {
    margin-bottom: 15px;
    @include font('Rubik', 700);
  }
  &__text {
    line-height: 1.5;
  }
}
